// MyriadPro Bold
@font-face {
  font-family: 'Myriad Pro';
  src: url('../fonts/MyriadPro/MyriadPro-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

//MyriadProCondensed Regular
@font-face {
  font-family: 'MyriadProCondensed';
  src: url('../fonts/MyriadProCondensed/MyriadPro-Cond.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

//MyriadProCondensed Bold
@font-face {
  font-family: 'MyriadProCondensed';
  src: url('../fonts/MyriadProCondensed/MyriadProBoldCondensed.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}