.banner.section
  ._wrap.wrap
    +icon('logo') 
    ._content
      ._info 
        ._title Освободитесь от бизнес-рутины и
        ._subtitle Масштабируйте свою компанию
        ._text Скачайте пошаговый план выхода из операционки и узнайте как построить систему в собственном бизнесе!
        button._btn.btn Скачать пособие и получить приглашение
        ._text.-small Ответьте на 7 простых вопросов, чтобы узнать как масштабировать свой бизнес и получите  приглашение на закрытый мастер-класс для собственников бизнеса:
        ._title.-small «Бизнес-трансформация: из хаоса в бизнес-систему»
        ._time-info
          ._time-info-text который пройдет завтра
          ._time-info-num в 17.15
      ._img
        ._box
          img(src="img/book.png", alt="alt")._photo
          ._list-link
            a(href="#", title="title")._list-link-item
              +svg('ig')
            a(href="#", title="title")._list-link-item
              +svg('twitter')
            a(href="#", title="title")._list-link-item
              +svg('fb')
            a(href="#", title="title")._list-link-item
              +svg('youtube')
        ._wrap-box
          span._small-text Scroll Down
          +svg('mouse', 'banner__mouse-svg')