.benefits {
  padding: 30px 0 60px 0;
  font-family: "MyriadProCondensed";

  @media(max-width: 576px) {
    padding: 10px 0 30px 0;
  }

  &__title {
    text-shadow: 0 0 62px rgba(1, 1, 1, 0.55);
    color: #ffffff;
    font-size: 48px;
    font-weight: 700;

    @media(max-width: 576px) {
      font-size: 40px;
    }
  }

  &__subtitle {
    color: #1e303d;
    font-size: 54px;
    font-weight: bold;
    margin: 35px 0 0 0;

    @media(max-width: 768px) {
      font-size: 43px;
      margin: 0;
    }

    @media(max-width: 576px) {
      font-size: 33px;
    }
  }

  &__descr {
    color: #3d4a57;
    font-size: 30px;
    margin: 17px 0 0 0;
    font-weight: bold;

    @media(max-width: 768px) {
      font-size: 27px;
      margin: 10px 0 0 0;
    }

    @media(max-width: 576px) {
      font-size: 22px;
    }
  }

  &__list-title {
    color: #1e303d;
    font-size: 30px;
    font-weight: bold;
    margin: 50px 0 0 0;

    @media(max-width: 768px) {
      margin: 30px 0 0 0;
    }

    @media(max-width: 576px) {
      margin: 20px 0 0 0;
    }
  }

  &__list {
    margin: 25px 0 0 0;
    padding: 0 0 0 70px;

    @media(max-width: 576px) {
      margin: 15px 0 0 0;
      padding: 0 0 0 30px;
    }
  }

  &__list-item {
    display: flex;
    align-items: center;
    color: #3d4a57;
    font-size: 20px;
    position: relative;

    @media(max-width: 576px) {
      font-size: 19px;
    }

    &:before {
      content: '';
      background: url(img/arrow.png)no-repeat center/cover;
      width: 39px;
      height: 40px;
      border-radius: 50%;
      position: absolute;
      display: block;
      left: -70px;

      @media(max-width: 576px) {
        width: 30px;
        height: 30px;
        left: -40px;
      }
    }

    &:not(:first-child) {
      margin: 25px 0 0 0;

      @media(max-width: 576px) {
        margin: 15px 0 0 0;
      }
    }
  }

  &__info {
    display: flex;
    align-items: flex-start;
    margin: 30px 0 0 0;

    @media(max-width: 1200px) {
      flex-direction: column;
    }
  }

  &__text {
    max-width: 645px;
    width: 100%;
    color: #3d4a57;
    font-size: 30px;
    font-weight: bold;
    margin: 0 115px 0 0;

    @media(max-width: 1200px) {
      margin: 0;
    }

    @media(max-width: 768px) {
      font-size: 27px;
    }

    @media(max-width: 576px) {
      font-size: 20px;
    }
  }

  &__btn {
    @media(max-width: 1200px) {
      margin: 30px 0 0 0;
    }
  }
}